# This file specifies which files and directories should be ignored by Docker when building the image.

node_modules
npm-debug.log
Dockerfile
README.md
*.md
*.log
*.tmp
*.DS_Store
.git
.gitignore
.vscode
.idea
*.swp
*.swo